
body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

main{
    background-image: url(../images/peonies.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300vh;
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    text-align: center;
}

.form{
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    min-height: 800px;
    padding: 25px;
    margin: 25px;
    border-radius: 15px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.input-field{
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    border: solid 2px rosybrown;
    margin-bottom: 20px;
    border-radius: 15px;
}

input[type=textbox]

.label-field{
    display: block;
    background-color: plum;
    font-size: 20px;
}

.input-field:hover{
    border: solid blueviolet 1px;
}

.button{
    background-color: rgb(160, 80, 235);
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: black;
    margin: 20px;
}

button:hover{
    background-color: rosybrown;
    font-style: bold;
    cursor: pointer;
}

.checkbox:hover{
cursor: pointer;
}