
body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

main{
    background-image: url(../images/peonies.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300vh;
    display: flex;
    justify-content: center;
    position:relative
}

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    text-align: center;
}

.form{
    box-sizing: border-box;
    max-width: 700px;
    width: 100%;
    min-height: 800px;
    padding: 10px;
    margin: 30px;
    border-radius: 15px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.input-field{
    box-sizing: border-box;
    width: 100%;
    min-height: 35px;
    font-size: 15px;
    border: solid 2px rosybrown;
    margin-bottom: 30px;
    border-radius: 15px;
}


.label-field {
    display:block;
    font-size: 20px;
    margin: 5px;
    align-self: flex-start;
}

.select{
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    width:100%;
    margin-bottom: 30px;
}

.textarea{
    font-family: Arial, Helvetica, sans-serif;
}

.input-field:hover{
    border: solid rosybrown 1px;
}

.button{
    background-color:palevioletred;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: black;
    margin: 20px;
}

button:hover{
    background-color: rosybrown;
    font-style: bold;
    cursor: pointer;
}

.checkbox:hover{
cursor: pointer;
}

.credits{
    position: absolute;
    bottom: 10px;
}