
body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Bebas Neue', cursive;
}



form{


}

.input-field{
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    border: solid 2px coral;
}

.label-field{
    display: block;
    background-color: antiquewhite;
}

.input-field:hover{
    border: solid blueviolet 1px;
}

.button{
    background-color: peachpuff;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: black;
}

button:hover{
    background-color: rosybrown;
    font-style: bold;

}