
body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Bebas Neue', cursive;
}



form{


}

.label-field{
background-color: antiquewhite;
}

.button{
    background-color: rosybrown;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: black;
}

button:hover{
    background-color: peachpuff;
    font-style: bold;

}